@import '../../Styles/Global.scss';
@import '../../Styles/mixin.scss';

.VerifyOTP {
    @include flexRow(left, left, 0);

    .Left {
        .ScreenPic {
            width: 833px;
            position: relative;
            max-height: 100%;
            overflow: hidden;
            flex-shrink: 0;
            object-fit: cover;
            max-width: 100%;
        }

    }

    .Right {

        @include flexCol();
        padding-left: 100px;


        .Logo {
            width: 170px;
        }

        .Inputfield {
            @include flexCol(center, space-around, 30);

            .Name {
                @include input;
            }

            .Email {
                @include input;
            }

            .phoneNumber {
                @include input;


            }

            .Gender {
                @include input;
                color: #7d7a7a;


            }

        }

        .AgreeTerms {
            margin-top: 20px;
            font-family: sans-serif;
            color: #7d7a7a;

            .TermsAndConditons {
                .Termsofservice {
                    color: $primaryColor;
                    font-weight: 500
                }

                .Privacypolicy {
                    color: $primaryColor;
                    font-weight: 500
                }
            }

        }

        .SignUp {
            @include buttun1();
            margin-top: 30px;
            padding: 15px 170px 15px 170px;
        }

        .SignUp:hover {
            background-color: rgb(83, 176, 118);
            border: 1px solid var(--color-steelblue-100);
            box-sizing: border-box;
            cursor: grab
        }



        .footer {
            margin-top: 110px;
            color: #7d7a7a;
            font-family: sans-serif;
            font-style: italic;
        }
    }
}