$primaryColor : #008955;
$secondaryColor : #C8E6C9;
$baseColor : #FFFFFF;
$higlightColor : #A5D6A7;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}
