@import '../../Styles/Global.scss';
@import '../../Styles/mixin.scss';

.favourties{
    .notificationContainer{
        @include flexRow (center, flex-start, 0);
        border: 1px solid #B8B8B8;
        margin: 30px 150px 30px 150px;
        border-radius: 20px;

        .locationIcon{
            width: 50px;
            margin-left: 100px;
        }
        .locationIcon:hover{
            cursor: pointer;
        }
        .notificationContent{
            margin-top: 10px;
            margin-bottom: 10px;
            margin-left: 50px;
            font-family: sans-serif;
            .heading{
                font-family: sans-serif;
                font-weight: bold;
                font-size: 1.25rem;
            }
            .address{
                margin-top: 5px;
                font-style: italic;
                color: #B8B8B8;
            }
        }

        .deleteIcon{
            width: 50px;
            margin-left: 300px;
            
        }

        .deleteIcon:hover{
            cursor: pointer;
        }
    }
}